// out: ../main.css

@import "styles.less";

// COLORS:
@text-base: #000;

// header:
@header-bg: #000;
@header-text: #fff;
@header-login-btn: #f76700;
@header-login-btn-border: #fa3219;
@header-login-btn-text: white;
@header-link-color-hover: rgba(142, 142, 142, 0.49);

// page-header:
@phead-border: @light-orange;

// navs:
@nav-link-hover: @light-orange;

@light-orange: rgba(247, 103, 0, 0.36);

// SIZES:
@header-input-maxw: 150px;

header.main {
  background-color: @header-bg;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: @header-text;
  ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display:inline-block;
    li {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .login-form {
    float: right;
    .login-btn {
      background-color: @header-login-btn;
      border: 1px solid @header-login-btn-border;
      border-radius: 5px;
      padding: 5px 10px;
      color: @header-login-btn-text;
    }
    input[type="text"],
    input[type="password"] {
      background-color: white;
      border: 2px solid gray;
      border-radius: 5px;
      max-width: 100px;
    }
  }
  button.home-btn {
    color: gray;
    background: none;
    border: none;
    padding: none;
    &.hover{
       background: none; 
    }
  }

  .buscar-form {
    input[type="text"] {
      border: 2px solid gray;
      border-right: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .search-btn {
      padding: 3px 8px;
      color: @text-base;
      background-color: white;
      border: 2px solid gray;
      border-left: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  input[type="text"],
  input[type="password"] {
    max-width: @header-input-maxw;
    margin: 2px 0;
    padding: 3px 8px;
    color: @text-base;
  }
  a {
    padding: 5px 10px;
  }
  a:hover {
    background-color: @header-link-color-hover;
  }
}

body {
  margin-top: 70px;
}

.fondo-modal {
  background-color: rgba(75, 75, 75, 0.65);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  max-height: 75%;
  z-index: 20;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  button.close-btn {
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(129, 129, 129, 0.5);
    border: none;
    color: white;
  }
  .modal-title {
    display: block;
    background-color: @light-orange;
    padding: 20px;
    margin-top: 0;
    text-align: center;
  }
  .container {
    text-align: center;
  }
}

form.dl {
  text-align: left;
  dt, dd {
    display: inline-block;
    margin: 10px 0;
  }
  dt {
    width: 200px;
    text-align: right;
  }
  dd {
    margin-left: 10px;
    input[type='text'],
    input[type='password'] {
      border: 2px solid gray;
      border-radius: 5px;
      padding: 5px 10px;
    }
    input[type='submit'] {
      background-color: @header-login-btn;
      border: 1px solid @header-login-btn-border;
      border-radius: 5px;
      padding: 5px 10px;
      color: @header-login-btn-text;
    }
  }
}

.profile-desc {
  .usr-menu {
    // float: right;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    max-width: 490px;
  }
}

ul.nav {
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    a, button, input[type="submit"] {
      padding: 10px 20px;
      display: inline-block;
      background-color: transparent;
      border: none;
      &:hover {
        background-color: @nav-link-hover;
      }
    }
    .active {
      background-color: rgba(142, 142, 142, 0.49);
    }
  }
}

.page-header {
  padding-bottom: 20px;
  border-bottom: 4px solid @phead-border;
  position: relative;
  .header-picture,
  .header-info {
    display: inline-block;
  }
  .header-picture {
    width: 110px;
    height: 110px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  .header-info {
    vertical-align: bottom;
    h1, h2, h3 {
      line-height: 100%;
      margin: 0;
      padding: 0;
    }
    h3 {
      margin-left: 10px;
      color: gray;
    }
    h1 {
      padding-bottom: 5px;
    }
  }
  button.follow,button.create {
    border: 2px solid @light-orange;
    padding: 10px 20px;
    background: none;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.playlist-desc,
.song-desc {
  .header-info {
    p {
      line-height: 100%;
      margin: 0 0 0 10px;
      padding: 0;
      padding-bottom: 5px;
    }
    h2 {
      line-height: 100%;
      margin: 0 0 0 10px;
      padding: 0;
    }
    a.tag {
      font-size: 1.1em;
      padding: 5px 8px;
    }
  }
  .editButton {
    background: none;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    &:hover {
      color: @light-orange;
      border-color: @light-orange;
    }
    &.editarTitulo {
      border: none;
    }
  }
  .song-user{
    img, div {
      display: inline-block;
    }
    float: right;
    img {
      width: 50px;   
    }
    h5, h3 {
      margin: 0;   
    }
    div {
      vertical-align: text-bottom;
      text-align: right;
    }
    .username {
      font-size: 1.4em;
      font-weight: bold;
      a:hover {
        background-color: rgba(142, 142, 142, 0.49);
      }
    }
  }
}

.playlist-desc {
  .header-picture {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    i {
      display: inline-block;
      margin-top: 1px;
    }
  }
  .header-info {
    vertical-align: middle;
  }
}

a.tag {
  background-color: gray;
  padding: 5px;
  margin: 1px 3px;
  font-size: 0.95em;
  display: inline-block;
  text-decoration: none;
}

.feed {
  max-width: 600px;
  margin: auto;
}

.post {
  margin: 10px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.2);
  h4, p {
    margin: 0;
  }
  button.play {
    // height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 2em;
    background: none;
    border: none;
    vertical-align: middle;
  }
  .post-info {
    display: inline-block;
    vertical-align: middle;
    p {
      margin: 3px;
    }
  }
  .likes {
    display: inline-block;
    i, span {
      display: block;
      text-align: center;
      &.fa {
        font-size: 1.9em;
        margin-top: 3px;
      }
    }
    .liked {
      color: #f76700;
    }
  }
  .delete-btn {
    display: inline-block;
    button {
      background-color: rgba(255, 255, 255, 0.56);
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      color: rgba(0, 0, 0, 0.69);
    }
  }
}

.pull-right {
    float: right;
}

div.player-container {
  width: 120%;
  margin: 40px -10%;
  position: relative;
  .player {
    height: 150px;
    border: 4px solid @phead-border;
  }
  ul.nav {
    padding: 0;
  }
  .player-comment {
    position: absolute;
    display: none;
    left: 481px;
    .arrow {
      width: 180px;
      height: 10px;
      border-top: 4px solid @phead-border;
      margin-top: 30px;
      display: inline-block;
      vertical-align: top;
    }
    .popover-container {
      border: 2px solid @phead-border;
      display: inline-block;
      max-width: 250px;
      margin-top: 20px;
      background-color: white;
      z-index: 5;
      .popover-title {
        background-color: @phead-border;
        margin: 0;
        padding: 10px;
      }
      .popover-content {
        padding: 0 10px;
      }
    }
  }
  height: 256px;
  padding-top: 12px;
  .ui360 {
    position: absolute;
    left: 353px;
    top: 0;
    z-index: 10;
    .sm2-360ui {
      background-color: white;
      border: 4px solid @phead-border;
    }
  }
}

.feed.comment-section {
  .comment-field,
  .comment-time {
    border-radius: 8px;
    border: 2px solid gray;
    padding: 5px 10px;
  }
  .comment-time {
    width: 35px;
    text-align: center;
  }
  .comment-field {
    width: 65%;
  }
  .time-input {
    float: right;
  }
  .comment {
    img {
      width: 40px;
      margin-right: 15px;
    }
    .comment-avatar,
    .comment-text {
      display: inline-block;
      vertical-align: top;
    }
    
  }
}


.hide{
  display:none !important;
} 
.feed.playlists {
  .songs-count {
    display: inline-block;
    border: 2px solid @phead-border;
    padding: 5px;
    border-radius: 8px;
    margin-top: -5px;
    span {
      display: block;
      text-align: center;
      font-size: 0.8em;
      &.number {
        font-size: 1.9em;
        margin-top: 3px;
      }
    }
  }
}

.feed.songs {
  .pull-right {
    text-align: right;
  }
  .delete-btn {
    display: block;
  }
}

.feed.users {
  .play {
    margin: 8px 0;
  }
  .followers-count {
    display: inline-block;
    border: 2px solid @phead-border;
    padding: 5px;
    border-radius: 8px;
    margin-top: -5px;
    span {
      display: block;
      text-align: center;
      font-size: 0.8em;
      &.number {
        font-size: 1.9em;
        margin-top: 3px;
      }
    }
  }
}

.great-title {
	width: 100%;
    background-color: @light-orange;
	height: 330px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 70px;
	h1 {
		font-size: 6em;
		text-transform: uppercase;
		text-shadow: 10px 10px rgba(255, 255, 255, 0.48);
		font-family: "AR BONNIE";
		margin-bottom: 10px;
	}
    i.fa-soundcloud {
//      color: #f76700;
    }
}

.index-grid {
  margin-top: 410px;
  text-align: center;
  .cell {
    margin: (10%/7);
    width: 30%;
    display: inline-block;
    min-height: 100px;
    background-color: rgba(142, 142, 142, 0.49);
    border: none;
    * {
      display: block;
    }
    h3 {
      margin-bottom: 0;
    }
    p {
      margin-top: 5px;
    }
    i {
      color: @light-orange;
    }
    span {
      margin-bottom: 10px;
    }
  }
}