// out: null

@import "normalize.less";
@import "font-awesome/less/font-awesome.less";

@fa-font-path: "less/font-awesome/fonts";

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 60%;
  margin: auto;
}